Repository eBay/evo-web, pull requests merged in 2025-07, with the labels that each got.

#192 docs(lightbox-dialog): updated incorrect class name
  packages/skin/src/routes/_index/component/lightbox-dialog/+page.marko
Labels: package: skin

#206 docs(skin): update github repo links
  packages/skin/CONTRIBUTING.md
  packages/skin/src/components/site-footer.marko
  packages/skin/src/components/site-header.marko
  packages/skin/src/routes/_index/component/flag/+page.marko
  packages/skin/src/routes/_index/component/icon/+page.marko
  packages/skin/src/routes/_index/component/svg/+page.marko
  packages/skin/src/routes/_index/sitemap+page.marko
  packages/skin/src/sass/bundles/skin-default.scss
  packages/skin/src/sass/bundles/skin-full.scss
Labels: package: skin

#215 fix(react:filter-menu): avoid checking the item when disabled and fix handlers
  .changeset/spotty-moles-hunt.md
  packages/ebayui-core-react/src/ebay-filter-menu/__tests__/index.stories.tsx
  packages/ebayui-core-react/src/ebay-filter-menu/__tests__/render.spec.tsx
  packages/ebayui-core-react/src/ebay-filter-menu/filter-menu.tsx
Labels: package: ebayui-core-react, P1

#232 fix(combobox): initialize makeup-expander only when there are visible options
  .changeset/funny-beans-yell.md
  packages/ebayui-core-react/src/common/dropdown.ts
  packages/ebayui-core-react/src/ebay-chips-combobox/__tests__/index.spec.tsx
  packages/ebayui-core-react/src/ebay-combobox/combobox.tsx
Labels: package: ebayui-core-react, P1

#238 fix(EbayTooltip): close tooltip on Esc key
  .changeset/tiny-files-kneel.md
  packages/ebayui-core-react/src/ebay-tooltip/__tests__/index.spec.tsx
  packages/ebayui-core-react/src/ebay-tooltip/ebay-tooltip.tsx
Labels: package: ebayui-core-react, P3
