Repository eBay/evo-web, pull requests merged in 2025-08, with the labels that each got.

#210 feat(chips): added filter chips and selection chips in coreui
  .changeset/moody-poets-return.md
  packages/ebayui-core/src/components/ebay-filter-chip/README.md
  packages/ebayui-core/src/components/ebay-filter-chip/browser.json
  packages/ebayui-core/src/components/ebay-filter-chip/component.ts
  packages/ebayui-core/src/components/ebay-filter-chip/examples/default.marko
  packages/ebayui-core/src/components/ebay-filter-chip/examples/expressive.marko
  packages/ebayui-core/src/components/ebay-filter-chip/examples/menu-button.marko
  packages/ebayui-core/src/components/ebay-filter-chip/filter-chip.stories.ts
  packages/ebayui-core/src/components/ebay-filter-chip/index.marko
  packages/ebayui-core/src/components/ebay-filter-chip/marko-tag.json
  packages/ebayui-core/src/components/ebay-filter-chip/style.ts
  packages/ebayui-core/src/components/ebay-filter-chip/test/__snapshots__/test.server.js.snap
  packages/ebayui-core/src/components/ebay-filter-chip/test/test.browser.js
  packages/ebayui-core/src/components/ebay-filter-chip/test/test.server.js
  packages/ebayui-core/src/components/ebay-selection-chip/README.md
  packages/ebayui-core/src/components/ebay-selection-chip/browser.json
  packages/ebayui-core/src/components/ebay-selection-chip/component.ts
  packages/ebayui-core/src/components/ebay-selection-chip/index.marko
  packages/ebayui-core/src/components/ebay-selection-chip/marko-tag.json
  packages/ebayui-core/src/components/ebay-selection-chip/selection-chip.stories.ts
  packages/ebayui-core/src/components/ebay-selection-chip/style.ts
  packages/ebayui-core/src/components/ebay-selection-chip/test/__snapshots__/test.server.js.snap
  packages/ebayui-core/src/components/ebay-selection-chip/test/test.browser.js
  packages/ebayui-core/src/components/ebay-selection-chip/test/test.server.js
  packages/evo-marko/src/tags/evo-filter-chip/README.md
  packages/evo-marko/src/tags/evo-filter-chip/examples/anchor.marko
  packages/evo-marko/src/tags/evo-filter-chip/examples/default.marko
  packages/evo-marko/src/tags/evo-filter-chip/examples/expressive.marko
  packages/evo-marko/src/tags/evo-filter-chip/examples/menu-button.marko
  packages/evo-marko/src/tags/evo-filter-chip/filter-chip.stories.ts
  packages/evo-marko/src/tags/evo-filter-chip/index.marko
  packages/evo-marko/src/tags/evo-filter-chip/style.ts
  packages/evo-marko/src/tags/evo-filter-chip/test/__snapshots__/test.server.js.snap
  packages/evo-marko/src/tags/evo-filter-chip/test/test.browser.js
  packages/evo-marko/src/tags/evo-filter-chip/test/test.server.js
  packages/evo-marko/src/tags/evo-selection-chip/README.md
  packages/evo-marko/src/tags/evo-selection-chip/examples/default.marko
  packages/evo-marko/src/tags/evo-selection-chip/index.marko
  packages/evo-marko/src/tags/evo-selection-chip/selection-chip.stories.ts
  packages/evo-marko/src/tags/evo-selection-chip/style.ts
  packages/evo-marko/src/tags/evo-selection-chip/test/__snapshots__/test.server.js.snap
  packages/evo-marko/src/tags/evo-selection-chip/test/test.browser.js
  packages/evo-marko/src/tags/evo-selection-chip/test/test.server.js
Labels: package: ebayui-core

#243 fix: used passed className for page-notice
  .changeset/sad-hands-cover.md
  packages/ebayui-core-react/src/ebay-page-notice/__tests__/index.spec.tsx
  packages/ebayui-core-react/src/ebay-page-notice/page-notice.tsx
Labels: package: ebayui-core-react

#246 fix(EbayLightboxDialog): update keyboard trap on re-rendering of dialogs
  .changeset/plain-flies-say.md
  packages/ebayui-core-react/src/ebay-dialog-base/components/dialogBase.tsx
  packages/ebayui-core-react/src/ebay-lightbox-dialog/__tests__/index.stories.tsx
  packages/ebayui-core-react/src/ebay-lightbox-dialog/__tests__/render.spec.tsx
Labels: package: ebayui-core-react, P2

#262 feat(chips): added state layer to chips
  .changeset/warm-cooks-cross.md
  packages/skin/dist/filter-chip/filter-chip.css
  packages/skin/dist/selection-chip/selection-chip.css
  packages/skin/dist/tokens/evo-dark.css
  packages/skin/dist/tokens/evo-light.css
  packages/skin/src/sass/button/button.scss
  packages/skin/src/sass/filter-chip/filter-chip.scss
  packages/skin/src/sass/mixins/private/_state-layer.scss
  packages/skin/src/sass/selection-chip/selection-chip.scss
  packages/skin/src/tokens/evo-dark.css
  packages/skin/src/tokens/evo-light.css
Labels: package: skin

#267 feat(menu): added support for footer element
  .changeset/tidy-sites-poke.md
  packages/ebayui-core/src/components/ebay-menu-button/component.ts
  packages/ebayui-core/src/components/ebay-menu-button/examples/footer.marko
  packages/ebayui-core/src/components/ebay-menu-button/index.marko
  packages/ebayui-core/src/components/ebay-menu-button/marko-tag.json
  packages/ebayui-core/src/components/ebay-menu-button/menu-button.stories.ts
  packages/ebayui-core/src/components/ebay-menu-button/test/__snapshots__/test.server.js.snap
  packages/ebayui-core/src/components/ebay-menu-button/test/test.server.js
  packages/ebayui-core/src/components/ebay-menu/component.ts
  packages/ebayui-core/src/components/ebay-menu/examples/footer.marko
  packages/ebayui-core/src/components/ebay-menu/index.marko
  packages/ebayui-core/src/components/ebay-menu/marko-tag.json
  packages/ebayui-core/src/components/ebay-menu/menu.stories.ts
  packages/ebayui-core/src/components/ebay-menu/test/__snapshots__/test.server.js.snap
  packages/ebayui-core/src/components/ebay-menu/test/test.server.js
Labels: package: ebayui-core
