Repository eBay/evo-web, pull requests merged in 2025-05, with the labels that each got.

#79 feat(ccd): updated to latest spec
  .changeset/curvy-peaches-hide.md
  packages/skin/dist/ccd/ccd.css
  packages/skin/src/routes/_index/component/ccd/+page.marko
  packages/skin/src/sass/ccd/ccd.scss
Labels: package: skin

#89 chore(ui-core-react): fix build scripts and remove yarn usage
  package.json
  packages/ebayui-core-react/.github/actions/analyze/action.yml
  packages/ebayui-core-react/.github/actions/build/action.yml
  packages/ebayui-core-react/.github/actions/deploy/action.yml
  packages/ebayui-core-react/.github/actions/setup-node/action.yml
  packages/ebayui-core-react/.github/actions/test/action.yml
  packages/ebayui-core-react/.github/workflows/pr.yml
  packages/ebayui-core-react/.github/workflows/push.yml
  packages/ebayui-core-react/.gitignore
  packages/ebayui-core-react/.husky/pre-commit
  packages/ebayui-core-react/.husky/pre-push
  packages/ebayui-core-react/.storybook/preview.jsx
  packages/ebayui-core-react/package.json
  packages/ebayui-core-react/scripts/clean.js
  packages/ebayui-core-react/scripts/update-icons.js
Labels: package: ebayui-core-react

#117 feat: FilePreviewCardGroup new component
  .changeset/four-lands-wave.md
  packages/ebayui-core-react/README.md
  packages/ebayui-core-react/src/ebay-file-preview-card-group/README.md
  packages/ebayui-core-react/src/ebay-file-preview-card-group/__tests__/__snapshots__/render.spec.tsx.snap
  packages/ebayui-core-react/src/ebay-file-preview-card-group/__tests__/index.spec.tsx
  packages/ebayui-core-react/src/ebay-file-preview-card-group/__tests__/index.stories.tsx
  packages/ebayui-core-react/src/ebay-file-preview-card-group/__tests__/render.spec.tsx
  packages/ebayui-core-react/src/ebay-file-preview-card-group/file-preview-card-group.tsx
  packages/ebayui-core-react/src/ebay-file-preview-card-group/index.ts
  packages/ebayui-core-react/src/ebay-file-preview-card-group/types.ts
  packages/ebayui-core-react/src/ebay-file-preview-card/file-preview-action.tsx
  packages/ebayui-core-react/src/ebay-file-preview-card/file-preview-card.tsx
  packages/ebayui-core-react/src/ebay-file-preview-card/types.ts
Labels: package: ebayui-core-react

#125 feat(react): add new EbayImagePlaceholder component
  .changeset/wet-ants-drive.md
  packages/ebayui-core-react/README.md
  packages/ebayui-core-react/scripts/update-icons-helpers.js
  packages/ebayui-core-react/src/ebay-icon/__tests__/constants.ts
  packages/ebayui-core-react/src/ebay-icon/icon.tsx
  packages/ebayui-core-react/src/ebay-icon/types.ts
  packages/ebayui-core-react/src/ebay-image-placeholder/README.md
  packages/ebayui-core-react/src/ebay-image-placeholder/__tests__/__snapshots__/render.spec.tsx.snap
  packages/ebayui-core-react/src/ebay-image-placeholder/__tests__/index.stories.tsx
  packages/ebayui-core-react/src/ebay-image-placeholder/__tests__/render.spec.tsx
  packages/ebayui-core-react/src/ebay-image-placeholder/image-placeholder.tsx
  packages/ebayui-core-react/src/ebay-image-placeholder/index.ts
Labels: package: ebayui-core-react

#92 feat(number-input): added new component
  .changeset/brown-apes-happen.md
  packages/ebayui-core/src/components/ebay-number-input/README.md
  packages/ebayui-core/src/components/ebay-number-input/browser.json
  packages/ebayui-core/src/components/ebay-number-input/component.ts
  packages/ebayui-core/src/components/ebay-number-input/examples/default.marko
  packages/ebayui-core/src/components/ebay-number-input/examples/with-delete.marko
  packages/ebayui-core/src/components/ebay-number-input/examples/with-label.marko
  packages/ebayui-core/src/components/ebay-number-input/index.marko
  packages/ebayui-core/src/components/ebay-number-input/number-input.stories.ts
  packages/ebayui-core/src/components/ebay-number-input/style.ts
  packages/ebayui-core/src/components/ebay-number-input/test/__snapshots__/test.server.js.snap
  packages/ebayui-core/src/components/ebay-number-input/test/test.browser.js
  packages/ebayui-core/src/components/ebay-number-input/test/test.server.js
  packages/ebayui-core/src/components/ebay-textbox/component-browser.ts
  packages/skin/dist/number-input/number-input.css
  packages/skin/index.mjs
  packages/skin/number-input.mjs
  packages/skin/scripts/generate-imports/config.json
  packages/skin/src/routes/_index/component/number-input/+meta.json
  packages/skin/src/routes/_index/component/number-input/+page.component-browser.js
  packages/skin/src/routes/_index/component/number-input/+page.marko
  packages/skin/src/sass/bundles/skin-headless.scss
  packages/skin/src/sass/number-input/number-input.scss
  packages/skin/src/sass/number-input/stories/number-input-with-label.stories.js
  packages/skin/src/sass/number-input/stories/number-input.stories.js
Labels: package: skin, package: ebayui-core

#128 feat(react): add new EbayFileInput component
  .changeset/wicked-pans-wave.md
  packages/ebayui-core-react/README.md
  packages/ebayui-core-react/src/ebay-file-input/README.md
  packages/ebayui-core-react/src/ebay-file-input/__tests__/__snapshots__/render.spec.tsx.snap
  packages/ebayui-core-react/src/ebay-file-input/__tests__/index.stories.tsx
  packages/ebayui-core-react/src/ebay-file-input/__tests__/render.spec.tsx
  packages/ebayui-core-react/src/ebay-file-input/file-input.tsx
  packages/ebayui-core-react/src/ebay-file-input/index.ts
  packages/ebayui-core-react/src/ebay-file-input/types.ts
Labels: package: ebayui-core-react

#133 chore(react): remove console and add eslint rule
  .changeset/shiny-dolls-smell.md
  packages/ebayui-core-react/.eslint.react.js
  packages/ebayui-core-react/eslint.config.mjs
  packages/ebayui-core-react/src/ebay-accordion/accordion.tsx
Labels: package: ebayui-core-react

#135 fix(react): don't bundle React inside ui-core-react package
  .changeset/yummy-onions-reply.md
  packages/ebayui-core-react/package.json
  packages/ebayui-core-react/scripts/__tests__/icons.json
  packages/ebayui-core-react/smoke-tests/README.md
  packages/ebayui-core-react/smoke-tests/react-16/index.js
  packages/ebayui-core-react/smoke-tests/react-16/package-lock.json
  packages/ebayui-core-react/smoke-tests/react-16/package.json
  packages/ebayui-core-react/smoke-tests/react-18/index.js
  packages/ebayui-core-react/smoke-tests/react-18/package-lock.json
  packages/ebayui-core-react/smoke-tests/react-18/package.json
  packages/ebayui-core-react/smoke-tests/react-19/index.js
  packages/ebayui-core-react/smoke-tests/react-19/package-lock.json
  packages/ebayui-core-react/smoke-tests/react-19/package.json
  packages/ebayui-core-react/src/ebay-character-count/__tests__/__snapshots__/render.spec.tsx.snap
  packages/ebayui-core-react/src/ebay-file-input/__tests__/__snapshots__/render.spec.tsx.snap
  packages/ebayui-core-react/src/ebay-file-input/__tests__/render.spec.tsx
  packages/ebayui-core-react/src/ebay-filter-menu-button/__tests__/index.spec.tsx
  packages/ebayui-core-react/vite.config.mjs
Labels: package: ebayui-core-react, P1

#131 feat(filter-input): new component
  .changeset/purple-colts-thank.md
  packages/ebayui-core/README.md
  packages/ebayui-core/src/components/ebay-filter-input/README.md
  packages/ebayui-core/src/components/ebay-filter-input/browser.json
  packages/ebayui-core/src/components/ebay-filter-input/component.ts
  packages/ebayui-core/src/components/ebay-filter-input/constants.ts
  packages/ebayui-core/src/components/ebay-filter-input/examples/controls.marko
  packages/ebayui-core/src/components/ebay-filter-input/examples/default.marko
  packages/ebayui-core/src/components/ebay-filter-input/filter-input.stories.ts
  packages/ebayui-core/src/components/ebay-filter-input/index.marko
  packages/ebayui-core/src/components/ebay-filter-input/style.ts
  packages/ebayui-core/src/components/ebay-filter-input/test/__snapshots__/test.server.js.snap
  packages/ebayui-core/src/components/ebay-filter-input/test/test.browser.js
  packages/ebayui-core/src/components/ebay-filter-input/test/test.server.js
Labels: package: ebayui-core

#147 fix(react:dialog): fix close handler call when the clicked element is removed from the DOM
  .changeset/crazy-singers-train.md
  packages/ebayui-core-react/smoke-tests/react-16/index.js
  packages/ebayui-core-react/src/ebay-dialog-base/__tests__/index.spec.tsx
  packages/ebayui-core-react/src/ebay-dialog-base/components/dialogBase.tsx
  packages/ebayui-core-react/src/ebay-lightbox-dialog/__tests__/index.spec.tsx
Labels: package: ebayui-core-react, P2
